@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
a{
    font-family:微软雅黑;
}
.head,.content{
    margin: 0 auto;
    width:360px;
}
.head{
    height:40px;
}
.title{
    text-align: center;
}
.title a{
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    color: orange;
}
.content{
    text-align: center;
}
.input{
    display: inline-block;
}
form{
    position: relative;
}
input{
    /*text-align: center;*/
    height:24px;
    width:300px;
    /*border:none;*/
}
form button{
    position: absolute;
    background-color: aqua;
    border: none;
    height: 28px;
    width: 28px;
    margin: 4px;
    top:-3px;
    left:273px;
    /*padding: 4px;*/
}
ul{
    list-style:none;
    padding: 0;
}
li{
    position: relative;
    height:40px;
    border-radius: 10px;
    padding:0;
    margin:14px 0;
    font-size: 22px;
    line-height:40px;
    background-color: aquamarine;
}
.done{
    background-color: darkgray;
    text-decoration: line-through;
}
.del{
    top: -12px;
    left: 348px;
    position: absolute;
    height:20px;
    width:20px;
    border-radius:20px;
    border-color: coral;
    border-width:2px;
    border-style: solid;
    text-align: center;
}
.del button{
    position: absolute;
    top: 1px;
    left: -4px;
    border: none;
    background-color: inherit;
}
.del i{
    color: coral;
    font-size: 16px;
}